
<div class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 my-4">
        <h3 class="text-white">Angular Recipe</h3>
        <p class="mb-0 text-muted mt-3">This website contains components with small code examples built with the Angular CLI. You’ll be able to try out code without being burdened by setting up a large project</p>
      </div>
      <div class="col-md-3 my-4 ">
        <h6 class="text-white bottom-header-text position-relative ps-2">USEFUL LINK</h6>
        <ul class="list-group">
          <li class="list-group-item border-0 border-bottom rounded-0"><a href="javascript:void(0)" [routerLink]="['/home']" class="text-decoration-none text-muted">Home</a></li>
          <li class="list-group-item border-0 border-bottom rounded-0"><a href="javascript:void(0)" [routerLink]="['/websites']" class="text-decoration-none text-muted">Website</a></li>
          <li class="list-group-item border-0 border-bottom rounded-0"><a href="javascript:void(0)" [routerLink]="['/components']" class="text-decoration-none text-muted">Components</a></li>
          <li class="list-group-item border-0 border-bottom rounded-0"><a href="javascript:void(0)" [routerLink]="['/links']" class="text-decoration-none text-muted">Links</a></li>
          <li class="list-group-item border-0 border-bottom rounded-0"><a href="javascript:void(0)" [routerLink]="['/about']" class="text-decoration-none text-muted">About Us</a></li>
          <li class="list-group-item border-0 border-bottom rounded-0"><a href="javascript:void(0)" [routerLink]="['/contact']" class="text-decoration-none text-muted">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-3 my-4 ">
        <h6 class="text-white bottom-header-text position-relative ps-2">FOLLOW US</h6>
        <p class="mb-0 text-muted">Please Follow us on our Social Media Profile in order to keep update.</p>
        <div class="d-flex align-items-center justify-content-between mx-5 mt-3">
          <div class="rounded-circle social-media-icon bg-secondary d-flex align-items-center justify-content-center text-center"><a href="javascript:void(0)"><i class="fa text-white fa-facebook"></i></a></div>
          <div class="rounded-circle social-media-icon bg-secondary d-flex align-items-center justify-content-center text-center"><a href="javascript:void(0)"><i class="fa text-white fa-twitter"></i></a></div>
          <div class="rounded-circle social-media-icon bg-secondary d-flex align-items-center justify-content-center text-center"><a href="javascript:void(0)"><i class="fa text-white fa-linkedin"></i></a></div>
          <div class="rounded-circle social-media-icon bg-secondary d-flex align-items-center justify-content-center text-center"><a href="javascript:void(0)"><i class="fa text-white fa-google-plus"></i></a></div>
        </div>
      </div>
      <div class="col-md-3 my-4 ">
        <h6 class="text-white bottom-header-text position-relative ps-2">OUR NEWSLETTER</h6>
        <p></p>
        <div class="d-flex align-items-center">
          <div class="form-floating mb-3 w-100">
            <input type="email" class="form-control newsletter rounded-0 text-white" id="floatingInput" >
            <label for="floatingInput" class="text-white">Email address</label>
          </div>
          <a href="javascript:void(0)"><i class="fa fa-envelope text-white"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
