<div class = "main-wrapper">
            <div class = "table-container">
                <table class = "table" id="table-one">
                    <thead>
                        <tr class = "table-row">
                            <th class = "table-cell">ID</th>
                            <th class = "table-cell">Character</th>
                            <th class = "table-cell">Alignment</th>
                            <th class = "table-cell">Gender</th>
                            <th class = "table-cell">Eye Color</th>
                            <th class = "table-cell">Race</th>
                            <th class = "table-cell">Hair Color</th>
                            <th class = "table-cell">Publisher</th>
                            <th class = "table-cell">Skin Color</th>
                            <th class = "table-cell">Height</th>
                        </tr>
                    </thead>
                    <tbody id = "data-container">
                        <!-- <tr class = "table-row">
                            <td class = "table-cell">1</td>
                            <td class = "table-cell">
                                <div class = "character-elem">
                                    <span class = "character-avatar">
                                        <img src = "assets/images/ch_1.jpg" alt = "character image">
                                    </span>
                                    <span class = "character-name">A-Bomb</span>
                                </div>
                            </td>
                            <td class = "table-cell">👍 Good</td>
                            <td class = "table-cell">Male</td>
                            <td class = "table-cell">
                                <span class="badge badge-yellow">yellow</span>
                            </td>
                            <td class = "table-cell">Human</td>
                            <td class = "table-cell">--</td>
                            <td class = "table-cell">Marvel Comics</td>
                            <td class = "table-cell">
                                <span class="badge badge-blue">blue</span>
                            </td>
                            <td class="table-cell">203</td>
                        </tr> -->
                    </tbody>
                </table>
            </div>

            <table class = "table" id="header-fixed"></table>
        </div>